*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--bg);
}
:root{
    --bg: #000;
    --text: #ffffff;
    --Shapes1: #FB72FF;
    --Shapes2: #60FDF4;
    --Shapes3 :#FFD426;
    --Shapes4:#4CABE1;
    --Shapes5:#62EB9A;
}
.nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:end;
    gap: 36rem;
    background-color:var(--bg);
    color:var(--text);
}
.list{
    display: flex;
    display: flex;
    gap: 5rem;
    align-items: center;
}
.list a {
    color: var(--text);
    text-decoration: none;
    font-size: large;
    font-family:"Nunito Sans", sans-serif;
}
.work-img{
    width: 4rem;
    height:2rem;
    margin-top:2vh;
}
.list a:hover{
    color: var(--Shapes3);
}
.work-con{
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--bg);
}
.Work{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}
.work-con h2 {
    margin-top: 1rem;
    margin-left: 15rem;
    font-size: 2rem;
    font-family:"Nunito Sans", sans-serif;
}
.work-con p{
    margin-top: 1rem;
    margin-left: 15rem;
    font-family:"Nunito Sans", sans-serif;
}
.shapes-container {
    position: relative;
    width: 100%;
    height: 31.25rem;
    }
.triangle {
      position: absolute;
      left: 18.75rem;
      top: 6.25rem;
      width: 0;
      height: 0;
      border-left: 7rem solid transparent;
      border-right: 7rem solid transparent;
      border-bottom: 12rem solid var(--Shapes2); 
}
.x-shape {
     /* position: absolute; */
     margin-top: 50px;
     z-index: 2;
}
.x-shape::before{
  content: "";
  position: absolute;
  left: 20%;
  width: 3.75rem;
  height: 21.875rem;
  background: var(--Shapes1); 
  transform-origin: center;
}
.x-shape::after {
     content: "";
     position: absolute;
     left: 16%;
     width: 3.75rem;
     height: 10.625rem;
     background: var(--Shapes1);
     transform-origin: center;
}
.x-shape::after {
transform: translate(-50%, -30%) rotate(-50deg);
}
.x-shape::before {
transform: translate(-50%, -15%) rotate(40deg);
}
.plus {
  position: absolute;
  width:  18.75rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 37.5rem;
   transform: rotate(-70deg);
}
.plus::before,
.plus::after {
  content: "";
  position: absolute;
  background: var(--Shapes3); 
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.plus::before {
  width: 18.75rem;
  height: 3.75rem;
}
.plus::after {
  width:  3.75rem;
  height: 18.75rem;
}
.circle-plus{
     width: 5rem;
     height: 5rem;
     border-radius: 50%;
     background: var(--text);
     z-index:2 ;  
}
.circlee {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  left:53.125rem;
  top: 17.5rem;
  background: var(--Shapes4); 
}

.rectanglee{
 position: absolute;
 top: 22.5rem;
 width: 6.25rem;
 height: 1.25rem;
 left: 59.375rem;
 background: var(--Shapes5); 
}
.line {
  width: 12.5rem;
  height: 1.25rem;
  background: var(--Shapes1); /* وردي */
  position: absolute;
}
.line1 {
  left: 75rem;
  top: 6.25rem;
  transform: rotate(15deg);
}
.line2 {
  left: 81.25rem;
  top: 11.25rem;
  transform: rotate(-15deg);
}
.line3 {
      left: 76.25rem;
      top: 17.5rem;
      transform: rotate(15deg);
}
.FAQS{
    width: 100vw;
    height: 100vh;
    background-color:var(--bg);
}
.contenar1{
    width: 100vw;
    background-color: #FB72FF;
    display: flex;
    flex-direction: row;
    height: 60vh;
    overflow: hidden;
    margin-left: 23rem;
}
.Discovery{
   width: 20vw;
   background-color:var(--bg);
   border: 1px solid rgba(255, 255, 255, 0.300);
   color: var(--text);
}
.Strategy{
    width: 20vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.Design{
    width: 20vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.Build{
    width: 20vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.none{
    width: 20vw;
    background-color: #000;
}
.con{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.con-h3{
    margin-top: 2rem;
    margin-left: 2rem;
}
.con-p{
    margin-top: 1rem;
    margin-left: 2rem;
}
.read-more{
    display: flex;
    flex-direction: row;
    /* margin-top: 3rem; */
    color: var(--text);
    /* width: 10rem;
    height: 5rem; */
}
.icon{
    height:27px;
    color: var(--text);
}
.process{
    transform: rotate(-90deg);
    margin-left: 32rem;
    margin-top: 1rem;
    width: 5rem;
    color: var(--text);
}
.circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--Shapes4);
    border-radius: 50%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
}
.circle-1{
    background-color: #000;
}
.rectangle{
    width: 2rem;
    height: 2rem;
    background-color: var(--Shapes1);
    margin-top: 7rem;
    margin-left: 2rem;
}
.circle-reduse-top{
    width: 4rem;
    height: 2rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: var(--Shapes5);
}
.circle-bu{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--Shapes3);
    margin-left: 1.5rem;
}
.circle-reduse-buttom{
     width: 4rem;
    height: 2rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: var(--Shapes5);
    margin-left: 0.5rem;
}
.all-circle{
    margin-left: 3rem;
    margin-top: 4rem;
}
.tringle1{
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 3.5rem;
    margin-left: 4rem;
    transform: rotate(-100deg);
}
.tringle-all{
    width: 10rem;
}
.tringle2{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: inline-block;
}
.tringle3{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 0.5rem;
    margin-left: 1rem;
    transform: rotate(-40deg);
}
.tringle-23{
    display: flex;
    height: 6rem;
}
.tringle4{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 2rem;
    transform: rotate(-40deg);
}
.colums{
     display: flex;
    flex-direction: row;
    width: 80vw;
    background-color:var(--bg);
    margin-left: 18rem;
}
.Webflow{
    width: 100vw;
    background-color:var(--bg);
}
.Webflow-colum1{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: var(--bg);
    color: var(--text);

}
.Webflow-colum2{
     display: flex;
    flex-direction: column;
    width: 40vw;
    background-color:var(--bg);
    margin-top: 7rem;
    color: var(--text);
}
.Webflow-img1{
    width: 25rem;
}
.Webflow-img2{
    width: 25rem;
}
.Webflow-img3{
    width: 25rem;
}
.Webflow-img4{
     width: 25rem;
}
.Webflow-p{
    color: var(--text);
    transform: rotate(-90deg);
     width: 8rem;
    height: 5rem;
    display: inline-block;
    margin-left: 10rem;
}
.colum1-con2{
    margin-top: 7rem;
}

.colum2-con2{
    margin-top:7rem;
}
.Blog{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
     display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.Blog-rectangle{
    width: 81.5vw;
    height: 80vh;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
    color: var(--text);
}
.quote-mark {
      position: absolute;
      font-size: 14.37rem;
      font-weight: bold;
      line-height: 1;
      z-index: 2;
      overflow: hidden;
}

.quote-top {
      top: -9.37rem;
      /* left: 14rem; */
      left: 13rem;
      color: #FFD23F; 
    }

    .quote-bottom {
      top: -7.5rem;
      /* left: 17.5rem; */
      left: 9.5rem;
      color: #2EC4B6; 
    }

.con3-con1{
    display: flex;
    flex-direction: row;
    /* margin-top: 1rem; */
    /* margin-left: 1rem; */
    align-items: center;
    gap: 1rem;
}
.blog-h3-p{
    display: flex;
    flex-direction: column;
}
.blog-icon-p{
    display: flex;
    flex-direction: row;
    height: 3rem;
     margin-left: 2.5rem;
    /* width: auto; 
     margin-left: 2rem;  */
   color: var(--text);
  cursor: pointer;
}
.blog-h3-p h3 {
  margin: 0;
  font-size: 1rem;
}

.blog-h3-p p {
  margin: 0;
  font-size: 0.85rem;
  color: #aaa;
  text-transform: uppercase;
}
.blog-img{
    width: 6rem;
    height: 6rem;
    margin-left:3rem;
    border-radius: 50%;
    object-fit: cover;
}
.material-symbols-outlined{
    /* margin-right: 18rem;
    height: 3rem; */
     font-size: 2rem;
  color: var(--text);
}


.blog-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
    background-color:var(--bg);
}
.blog-p-test{
   writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--text);
  position: absolute;
  left: 2rem;
  top: 5rem;
 background-color:var(--bg);
}
.Blog-rectangle-con1 {
  /* align-self: flex-start; */
  /* margin-bottom: 1rem; */
  margin-right: 20rem;
  
}
.Blog-rectangle-con2 {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  max-width: 700px;
}
.blgo-p-p-p{
    /* height: 8rem; */
    display: flex;
    align-items: end; 
   margin-right: 9.5rem;
   /* margin-top: 2rem; */
}.blog-cont{
    margin-left: 17rem;
}
.Contact{
    width: 100vw;
    height: 100vh;
    background-color: #FFD426;
}
/* .fotar{
    width: 100vw;
    height: 100vh;
    background-color: #4CABE1;
}
.foter-DiscoveryCall{
    width: 75vw;
    height: 60vh;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid rgba(255, 255, 255, 0.300);
    display: flex;
    flex-direction: row;
    margin-left: 15rem
}
.foter-con1{
    width: 25vw;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid rgba(255, 255, 255, 0.300);
    display: flex;
    flex-direction: column;
} */
  /* .foter-img{
    width: 5.5rem;
    height: 5.5rem;
    margin-top: 1rem;
    margin-left: 4rem;
} 
.foter-h2{
    margin-top: 1rem;
    margin-left: 4rem;
}
.foter-p1{
    margin-top: 1rem;
    margin-left: 4rem;
}
.fotar-icon{
width: 2rem;
height: 4rem;
}
.foter-icon-p{
    width: 25vw;
    display: flex;
    margin-left:3.2rem ;
    margin-top: 2rem;
}


.foter-con2{
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color:#FB72FF;
}
.fotar-form{

} */
/* .foter-foter{
    width: 50vw;
    height: 20v;
} */

.contact{
    width: 100vw;
    height: 100vh;
}

.contenar1{
    width: 75vw;
    /* height: 75vh; */
    /* display: flex;
    flex-direction: row;
    background-color:var(--text); */
    /* border: 1px solid rgba(255, 255, 255, 0.300); */
    /* margin-left: 600px; */
}
.left{
    width: 25vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color:var(--text);
}
.immag{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.right{
    color:var(--text);
  width: 50vw;
  border: 1px solid rgba(255, 255, 255, 0.300);
  background-color:var(--bg);
}
.input{
    width: 17vw;
    height: 3vh;
    margin-top:1rem;
    margin-left: 1rem;
}
.buttom{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
     /* gap: 150px; */
     margin-top: 1rem;
     
}
.buttom-bo{
    width: 100px;
    height: 35px; 
    background-color: rgb(255, 255, 255);
    font-size: large;
    color: black;
}
.top{
    /* display: flex; */
    /* flex-direction: row; */
}
.pi-button{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: rgb(0, 0, 0);
    width: 23vw;
    gap: 60px;
    margin-bottom: 50px;
    align-items: first baseline;
    color: white;
}
.left-con{
    margin-left: 30px;
}
.material-symbols-outlined{
    /* width: 60px;
    height: 60px;
    background-color: aquamarine; */
    margin-top: 18px;
}
.ic{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 40px;
}
.von-icon{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.553);
}
.section-5{
    display: flex;
    justify-content: end;
    /* background-color: black; */
}