*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}
:root{
    --bg: #000;
    --text: #ffffff;
    --Shapes1: #FB72FF;
    --Shapes2: #60FDF4;
    --Shapes3 :#FFD426;
    --Shapes4:#4CABE1;
    --Shapes5:#62EB9A;
}
.nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:end;
    gap: 36rem;
    background-color:var(--bg);
    color:var(--text);
}
.list{
    display: flex;
    display: flex;
    gap: 5rem;
    align-items: center;
}
.list a {
    color: var(--text);
    text-decoration: none;
    font-size: large;
    font-family:"Nunito Sans", sans-serif;
}
.work-img{
    width: 4rem;
    height:2rem;
    margin-top:2vh;
}
.list a:hover{
    color: var(--Shapes3);
}
.work-con{
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--bg);
}
.Work{
    width: 100vw;
    height: 90vh;
    background-color: var(--bg);
}
.work-con h2 {
    margin-top: 1rem;
    margin-left: 15rem;
    font-size: 2rem;
    font-family:"Nunito Sans", sans-serif;
}
.work-con p{
    margin-top: 1rem;
    margin-left: 15rem;
    font-family:"Nunito Sans", sans-serif;
}
.FAQS{
    width: 100vw;
    height: 100vh;
    background-color:var(--bg);
}
.contenar1{
    width: 100vw;
    background-color: #FB72FF;
    /* border: 1px solid hsla(0, 0%, 100%, 0.795); */
    display: flex;
    flex-direction: row;
    height: 65vh;
    overflow: hidden;
}
.Discovery{
   width: 18vw;
   background-color:var(--bg);
   border: 1px solid rgba(255, 255, 255, 0.300);
   color: var(--text);
}
.Strategy{
    width: 18vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.Design{
    width: 18vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.Build{
    width: 18vw;
    background-color:var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.300);
    color: var(--text);
}
.none{
    width: 28vw;
    background-color: #000;
    /* border: 1px solid rgba(255, 255, 255, 0.795); */
}
.con{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.con-h3{
    margin-top: 2rem;
    margin-left: 2rem;
}
.con-p{
    margin-top: 1rem;
    margin-left: 2rem;
}
.read-more{
    display: flex;
    flex-direction: row;
    /* margin-top: 3rem; */
    color: var(--text);
    /* width: 10rem;
    height: 5rem; */
}
.icon{
    height:27px;
    color: var(--text);
}
.process{
    transform: rotate(-90deg);
    margin-left: 21.5rem;
    /* margin-top: 1rem; */
    width: 5rem;
    color: var(--text);
}
.circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--Shapes4);
    border-radius: 50%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
}
.circle-1{
    background-color: #000;
}
.rectangle{
    width: 2rem;
    height: 2rem;
    background-color: var(--Shapes1);
    margin-top: 7rem;
    margin-left: 2rem;
}
.circle-reduse-top{
    width: 4rem;
    height: 2rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: var(--Shapes5);
}
.circle-bu{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--Shapes3);
    margin-left: 1.5rem;
}
.circle-reduse-buttom{
     width: 4rem;
    height: 2rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: var(--Shapes5);
    margin-left: 0.5rem;
}
.all-circle{
    margin-left: 3rem;
    margin-top: 4rem;
}
.tringle1{
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 3.5rem;
    margin-left: 4rem;
    transform: rotate(-100deg);
}
.tringle-all{
    width: 10rem;
}
.tringle2{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: inline-block;
}
.tringle3{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 0.5rem;
    margin-left: 1rem;
    transform: rotate(-40deg);
}
.tringle-23{
    display: flex;
    height: 6rem;
}
.tringle4{
     width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-top: 2.2rem solid var(--Shapes2);
    margin-top: 2rem;
    transform: rotate(-40deg);
}
.colums{
     display: flex;
    flex-direction: row;
    width: 80vw;
    background-color:var(--bg);
    margin-left: 18rem;
}
.Webflow{
    width: 100vw;
    background-color:var(--bg);
}
.Webflow-colum1{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: var(--bg);
    color: var(--text);

}
.Webflow-colum2{
     display: flex;
    flex-direction: column;
    width: 40vw;
    background-color:var(--bg);
    margin-top: 7rem;
    color: var(--text);
}
.Webflow-img1{
    width: 28rem;
}
.Webflow-img2{
    width: 28rem;
}
.Webflow-img3{
    width: 28rem;
}
.Webflow-p{
    color: var(--text);
    transform: rotate(-90deg);
     width: 8rem;
    height: 5rem;
    display: inline-block;
    margin-left: 10rem;
}
.colum1-con2{
    margin-top: 7rem;
}

.colum2-con2{
    margin-top:7rem;
}
.Blog{
    width: 100vw;
    height: 100vh;
    background-color: #62EB9A;
}
.Blog-rectangle{
    width: 81.5vw;
    height: 80vh;
    background-color: pink;
    border: 1px solid rgba(255, 255, 255, 0.300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
}
.con3-con1{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 6rem;
    align-items: center;
}
.blog-h3-p{
    display: flex;
    flex-direction: column;
}
.blog-icon-p{
    width: 15rem;
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    width: auto;
}
.blog-img{
    width: 7rem;
    height: 7rem;
    margin-left:3rem;
    border-radius: 50%;
}
.material-symbols-outlined{
    margin-right: 18rem;
    height: 3rem;
}


.blog-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
    /* align-items: end; */
    background-color: #FB72FF;
}
.blog-p-test{
   /* display: inline-block;       
  transform: rotate(-90deg);    */
  /* transform-origin: left top;   */ 
  /* margin-left: 15rem;         */
  /* font: 700 24px/1 sans-serif; */
  /* letter-spacing: .1em; */
 /* width: 5rem;
 height: 12rem; */
 background-color: #4CABE1;
 color: var(--text);
 /* margin-top: 1rem; */
}
.blgo-p-p-p{
    /* height: 8rem; */
    display: flex;
    align-items: end; 
}.blog-cont{
    margin-left: 17rem;
}